<?php

require_once 'authentication.php';

?>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document Tracking System</title>
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/timeline.css">
</head>
<body class="header-fixed" ng-app="tracks" ng-controller="tracksCtrl">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a class="navbar-brand" href="javascript:;">
            <img src="./imgs/pglu.png" style ="width:270px;height:53px" alt="logo">	
        </a>
		<a style="margin-left:45px;margin-top:12px"><h3>PROVINCE OF LA UNION - DOCUMENT TRACKING SYSTEM</h3>
		</a>
		

        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li> -->
            <li class="nav-item" account-profile>
                <a class="nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                    <img src="{{profile.picture}}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none"> Guest </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" drop-down></div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="content">
            <div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Barcode" ng-model="barcode">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary" ng-click="app.track(this)"><i class="fa fa-search"></i> Track</button>
							</span>
                        </div>
					</div>
				</div>
				<hr>
                <div class="row" id="track"></div>
			</div>
        </div><!-- /content -->
    </div>
</div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>

<!-- dependencies -->
<script src="vendor/bootbox/bootbox.min.js"></script>

<script src="angular/angular.min.js"></script>
<script src="angular/angular-route.min.js"></script>
<script src="angular/ui-bootstrap-tpls-3.0.2.min.js"></script>
<!-- modules -->
<script src="modules/bootstrap-modal.js"></script>
<script src="modules/account.js"></script>
<script src="modules/validate.js"></script>
<script src="modules/track.js"></script>
<!-- controller -->
<script src="controllers/track.js"></script>

</body>
</html>
