<?php

require_once 'authentication.php';

?>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document Tracking System</title>
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/timeline.css">
</head>
<body class="sidebar-fixed header-fixed" ng-app="tracks" ng-controller="tracksCtrl">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="javascript:;">
            <img src="./imgs/dts.png" style ="width:180px;height:53px" alt="logo">	
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li> -->
            <li class="nav-item dropdown" account-profile>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{profile.picture}}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">{{profile.user}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" drop-down></div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item" ng-show="profile.pages_access[0].value">
                        <a href="index.html" class="nav-link">
                            <i class="icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>
					                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle active">
                            <i class="icon icon-docs"></i> Documents <i class="fa fa-caret-left"></i>
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item" ng-show="profile.pages_access[1].value">
                                <a href="add-documents.html" class="nav-link">
                                    <i class="icon icon-plus"></i>Receive Document
                                </a>
                            </li>
							<li class="nav-item" ng-show="profile.pages_access[2].value">
                                <a href="incoming.html" class="nav-link">
                                    <i class="icon icon-book-open"></i>Incoming
                                </a>
							</li>							
							<li class="nav-item" ng-show="profile.pages_access[3].value">
                                <a href="transact.html" class="nav-link">
                                    <i class="icon icon-book-open"></i>Transact
                                </a>
							</li>						
                            <li class="nav-item" ng-show="profile.pages_access[4].value">
                                <a href="documents-list.html" class="nav-link">
                                    <i class="icon icon-doc"></i> List of Documents
                                </a>
                            </li>
							<li class="nav-item" ng-show="profile.pages_access[5].value">
                                <a href="tracks.html" class="nav-link active">
                                    <i class="icon icon-location-pin"></i>Tracks
                                </a>
                            </li>
                        </ul>
                    </li>	
                    <li class="nav-item nav-dropdown" ng-show="profile.pages_access[6].value">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-people"></i> Accounts <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="user-profile.html" class="nav-link">
                                    <i class="icon icon-user"></i> User Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="users-list.html" class="nav-link">
                                    <i class="icon icon-people"></i> List
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="nav-item nav-dropdown" ng-show="profile.pages_access[7].value">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-list"></i> Groups <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="groups-add.html" class="nav-link">
                                    <i class="icon icon-plus"></i> Add Group
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="groups-list.html" class="nav-link">
                                    <i class="icon icon-people"></i> List
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="nav-item nav-dropdown" ng-show="profile.pages_access[8].value">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-support"></i> Maintenance <i class="fa fa-caret-left"></i>
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="office-maintenance.html" class="nav-link">
                                    <i class="icon icon-user"></i> Offices
                                </a>
                            </li>
							<li class="nav-item">
                                <a href="doctype-maintenance.html" class="nav-link">
                                    <i class="icon icon-docs"></i> Document Types
                                </a>
                            </li>
							<li class="nav-item">
                                <a href="transaction-maintenance.html" class="nav-link">
                                    <i class="icon icon-flag"></i> Transactions
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Barcode" ng-model="document.barcode" uib-typeahead="b.barcode for b in barcodeAsyncSuggest($viewValue)" typeahead-min-length="3" typeahead-on-select="app.barcodeSelected(this, $item)">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary" ng-click="app.track(this)"><i class="fa fa-search"></i> Track</button>
							</span>
                        </div>
					</div>
				</div>
				<hr>
                <div class="row" id="track"></div>
			</div>
        </div><!-- /content -->
    </div>
</div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>

<!-- dependencies -->
<script src="vendor/bootbox/bootbox.min.js"></script>

<script src="angular/angular.min.js"></script>
<script src="angular/angular-route.min.js"></script>
<script src="angular/ui-bootstrap-tpls-3.0.2.min.js"></script>
<!-- modules -->
<script src="modules/bootstrap-modal.js"></script>
<script src="modules/account.js"></script>
<script src="modules/validate.js"></script>
<script src="modules/tracks.js"></script>
<!-- controller -->
<script src="controllers/tracks.js"></script>

</body>
</html>
