<?php

require_once 'authentication.php';

?>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document Tracking System</title>
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="sidebar-fixed header-fixed" ng-app="maintenanceTransacList" ng-controller="maintenanceTransacCtrl">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="javascript:;">
            <img src="./imgs/dts.png" style ="width:180px;height:53px" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li> -->
            <li class="nav-item dropdown" account-profile>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{profile.picture}}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">{{profile.user}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" drop-down></div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item" ng-show="profile.pages_access[0].value">
                        <a href="index.html" class="nav-link">
                            <i class="icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>
					    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-docs"></i> Documents <i class="fa fa-caret-left"></i>
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item" ng-show="profile.pages_access[1].value">
                                <a href="add-documents.html" class="nav-link">
                                    <i class="icon icon-plus"></i>Receive Document
                                </a>
                            </li><li class="nav-item" ng-show="profile.pages_access[2].value">
                                <a href="documents.html" class="nav-link">
                                    <i class="icon icon-book-open"></i>My Documents
                                </a>
                            <li class="nav-item" ng-show="profile.pages_access[3].value">
                                <a href="documents-list.html" class="nav-link">
                                    <i class="icon icon-doc"></i> List of Documents
                                </a>
                            </li>
							</li><li class="nav-item" ng-show="profile.pages_access[4].value">
                                <a href="tracks.html" class="nav-link">
                                    <i class="icon icon-location-pin"></i>Tracks
                                </a>
                            </li>
                        </ul>
                    </li>	
                    <li class="nav-item nav-dropdown" ng-show="profile.pages_access[5].value">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-people"></i> Accounts <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="user-profile.html" class="nav-link">
                                    <i class="icon icon-user"></i> User Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="users-list.html" class="nav-link">
                                    <i class="icon icon-people"></i> List
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="nav-item nav-dropdown" ng-show="profile.pages_access[6].value">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-list"></i> Groups <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="groups-add.html" class="nav-link">
                                    <i class="icon icon-plus"></i> Add Group
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="groups-list.html" class="nav-link">
                                    <i class="icon icon-people"></i> List
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="nav-item nav-dropdown" ng-show="profile.pages_access[7].value">
                        <a href="#" class="nav-link nav-dropdown-toggle active">
                            <i class="icon icon-support"></i> Maintenance <i class="fa fa-caret-left"></i>
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="office-maintenance.html" class="nav-link">
                                    <i class="icon icon-user"></i> Offices
                                </a>
                            </li>
							<li class="nav-item">
                                <a href="doctype-maintenance.html" class="nav-link">
                                    <i class="icon icon-docs"></i> Document Types
                                </a>
                            </li>
							<li class="nav-item">
                                <a href="transaction-maintenance.html" class="nav-link active">
                                    <i class="icon icon-flag"></i> Transactions
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="input-group">					
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                            </span>
                            <input type="text" id="input-group-1" name="input1-group2" class="form-control" ng-model="search" placeholder="">
                        </div>
					</div>
				</div>				
                <div class="row">
                    <div class="col-md-12">
					<hr>
                        <div class="card">
                            <div class="card-header bg-light">
                                List of Document Types
								<button type="button" class="btn btn-primary float-right" ng-click="app.add(this,null)">
									<i class="fas fa-plus"></i> &nbsp; Add
								</button>								
                            </div>						
							<div class="card-body">
								<div class="row">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Transaction</th>
												<th>Days</th>
												<th>Shortname</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="tran in trans | filter:search">
											<td>{{tran.transaction}}</td>
											<td>{{tran.days}}</td>
											<td>{{tran.shortname}}</td>
											<td>
											<button class="btn btn-primary" ng-click="app.add(this,tran)"><i class="icon icon-pencil"></i></button>
											<button class="btn btn-secondary" ng-click="app.delete(this,tran)"><i class="icon icon-trash"></i></button>
											</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
								<hr>								
                            </div>
                        </div>
                    </div>
                </div>
			</div>
        </div><!-- /content -->
    </div>
</div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>

<!-- dependencies -->
<script src="vendor/bootbox/bootbox.min.js"></script>
<script src="vendor/growl/jquery.bootstrap-growl.min.js"></script>
<script src="vendor/blockui/jquery.blockUI.js"></script>
<script src="angular/angular.min.js"></script>
<script src="angular/angular-route.min.js"></script>
<!-- modules -->
<script src="modules/bootstrap-modal.js"></script>
<script src="modules/account.js"></script>
<script src="modules/module-access.js"></script>
<script src="modules/validate.js"></script>
<script src="modules/blockui.js"></script>
<script src="modules/growl.js"></script>
<script src="modules/maintenance-transaction-view.js"></script>
<!-- controller -->
<script src="controllers/maintenance-transaction-view.js"></script>
</body>
</html>
