<form name="formHolder.incoming">
<div class="row">
	<div class="col-md-12">
		<label>Subject</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<i class="icon icon-organization input-group-text"></i>
			</div>
			<input type="text" class="form-control" placeholder="Office" name="office" ng-class="{'is-invalid': formHolder.office.office.$touched && formHolder.office.office.$invalid}" ng-model="office.office" required>
			<div class="invalid-feedback">Office is required</div>
		</div>                
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<label>Originating Office</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<i class="icon icon-organization input-group-text"></i>
			</div>
			<input type="text" class="form-control" placeholder="Office" name="office" ng-class="{'is-invalid': formHolder.office.office.$touched && formHolder.office.office.$invalid}" ng-model="office.office" required>
			<div class="invalid-feedback">Office is required</div>
		</div>                
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<label>Barcode</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class ="input-group-text"><i class="fas fa-barcode" ></i></span>
			</div>
			<input type="text" class="form-control" placeholder="Input Barcode here" ng-disabled="false" name="shortname" ng-class="{'is-invalid': formHolder.office.shortname.$touched && formHolder.office.shortname.$invalid}" ng-model="office.shortname" required>
			<div class="invalid-feedback">Shortname is required</div>
		</div>                
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<label>Transactions</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<i class="icon icon-folder input-group-text"></i>
			</div>
			<select id="single-select" class="form-control" name="choice" ng-class="{'is-invalid': formHolder.incoming.choice.$touched && formHolder.incoming.choice.$invalid}" ng-model="incoming.choice" ng-options="ch.choice for ch in options track by ch.id" required></select>
			<div class="invalid-feedback">Department is required</div>
		</div>                
	</div>
</div>
</form>