<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Subject</th>
				<th>Barcode</th>
				<th>Type</th>												
				<th>Originating Office</th>
				<th>Date</th>
				<th>Transaction</th>
				<th>Communication</th>
				<th>Remarks</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in filterData = (archives | filter:search) | pagination: currentPage:pageSize">
				<td>{{a.doc_name}}</td>
				<td>{{a.barcode}}</td>
				<td>{{a.doc_type}}</td>											
				<td>{{a.origin}}</td>
				<td>{{a.document_date}}</td>
				<td>{{a.transaction}}</td>
				<td>{{a.communication}}</td>
				<td>{{a.remarks}}</td>
				<td>
					<button class="btn btn-primary" ng-click="app.view(this,a)"><i class="icon icon-magnifier"></i></button>
				</td>
			</tr>
		</tbody>
		<tfoot><!-- added pagination feature -->
			<tr>
				<td colspan="9" style="text-align: center;">
					<div class="float-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
				</td>
			</tr>											
		</tfoot>		
	</table>
</div>