<div class = "row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Barcode</th>
				<th>Transaction</th>
				<th>Document Type</th>
				<th>Originating Office</th>
				<th>Subject</th>
				<th>Document Status</th>												
				<th>Remarks</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="t in filterData = (documents | filter:search) | pagination: currentPage:pageSize">
				<td>{{t.barcode}}</td>
				<td>{{t.document_transaction_type}}</td>
				<td>{{t.doc_type}}</td>
				<td>{{t.origin}}</td>
				<td>{{t.doc_name}}</td>
				<td>{{t.document_status}}</td>												
				<td>{{t.remarks}}</td>												
				<td>{{t.document_date}}</td>
				<td>
					<button class="btn btn-info" ng-click="app.activity(this,t,true)"><i class="icon icon-grid" data-toggle="tooltip" data-placement="top" title="Transact Document"></i></button>
				</td>
			</tr>
		</tbody>
		<tfoot><!-- added pagination feature -->
			<tr>
				<td colspan="9" style="text-align: center;">
					<div class="float-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
				</td>
			</tr>											
		</tfoot>
	</table>
</div>