<div class="dropdown-menu dropdown-menu-right">
	<div ng-class="{'notifications-container-many': notifications.count>3,'notifications-container':notifications.count==0}">
		<div class="dropdown-header" ng-show="notifications.count == 0">No new notifications</div>
		<div ng-show="notifications.outgoing.length">
			<div class="dropdown-header">Outgoing <strong>({{notifications.outgoing.length}})</strong></div>
			<div class="dropdown-item" ng-repeat="n in notifications.outgoing">
				<div class="alert alert-dismissible alert-info">
					<p ng-bind-html="n.message" style="line-height: 175%;"></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="notificationAction(this,n)">
						<span aria-hidden="true">×</span>
					</button>
					<!-- <a href="outgoing.html#!/view/{{n.doc_id}}" ng-show="n.show">View Document</a> -->
					<a href="outgoing.html" ng-show="n.show">View Document</a>
				</div>
			</div>
		</div>
		<div ng-show="notifications.transaction.length">
			<div class="dropdown-header">For Action <strong>({{notifications.transaction.length}})</strong></div>
			<div class="dropdown-item" ng-repeat="n in notifications.transaction">
				<div class="alert alert-dismissible alert-danger">
					<p ng-bind-html="n.message" style="line-height: 175%;"></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="notificationAction(this,n)">
						<span aria-hidden="true">×</span>
					</button>
					<!-- <a href="transact.html#!/view/{{n.doc_id}}" ng-show="n.show">View Document</a> -->
					<a href="transact.html" ng-show="n.show">View Document</a>
				</div>
			</div>
		</div>	
		<div ng-show="notifications.incoming.length">
			<div class="dropdown-header">Incoming <strong>({{notifications.incoming.length}})</strong></div>
			<div class="dropdown-item" ng-repeat="n in notifications.incoming">
				<div class="alert alert-dismissible alert-success">
					<p ng-bind-html="n.message" style="line-height: 175%;"></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="notificationAction(this,n)">
						<span aria-hidden="true">×</span>
					</button>
					<!-- <a href="incoming.html#!/view/{{n.doc_id}}" ng-show="n.show">Receive Document</a>				 -->
					<a href="incoming.html" ng-show="n.show">Receive Document</a>				
				</div>
			</div>
		</div>
	</div>
</div>